@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#000000;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:18px;
    height:100vh;
    margin:0px;
    padding:0px;

    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
    color: black;
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

a {
    color: #fb737e; 
    text-decoration: none;
    font-weight: normal; 
    font-style: normal; 
}

a:hover {
    color: gray; 
}

button {
    --start-color: #C03540;
    --end-color: #FFA3AA;
    position: relative;
    appearance: none;
    padding: 1em 2em;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 100px;
    border: 2px solid transparent;
    background: linear-gradient(#000, #000) padding-box, linear-gradient(45deg, var(--start-color), var(--end-color)) border-box;
    transition: background-position 0.3s;
    
}

header {
    background-color: #000000;
    height: 100px;
    font-family: 'Base Neue Trial';
    position: relative;
    z-index: 1;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

label {
    color: #fff;
    margin-right: 10px;
}

.header-div-contenedor {
    max-width: 200px;
    height: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "item1 item2";
    color: black;
}

.header-div-contenedor-item1, .header-div-contenedor-item2 {
    display: flex;
}

.header-div-contenedor-item1 {
    align-items: center;
    justify-content: flex-end;
    padding-left: 5%;
    grid-template-areas: item1;
    /* detalles fuente */
    font-size: 30px;


}

.header-div-contenedor-item2 {
    width: auto;
    align-items: center; 
    justify-content: flex-start;
    grid-template-areas: item2;
}

.logo {
    height: 30px;
}

section {
    max-width: 375px;
    max-height: 990px;
    margin: auto;
    height: 500px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.register-contenedor {
    display: grid;
    height: 300px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "registerheader" 
    "registerbody";
}

.register-contenedor-item1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    /* diseño texto */
    color: white;
    font-family: "Bebas",  sans-serif;
    font-size: 30px;
    text-align: center;
    grid-area: registerheader;
}

.register-contenedor-item2{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    color: white;
    margin: 5%;
    grid-area: registerbody;
}

.register-contenedor-item2-contenedor-item1, .register-contenedor-item2-contenedor-item2, .register-contenedor-item2-contenedor-item3, .register-contenedor-item2-contenedor-item4 {
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.register-contenedor-item2-contenedor-item1 {
    align-items: flex-end; 
    justify-content: flex-start;
    font-size: 10px;
}
.register-contenedor-item2-contenedor-item2 {
    align-items: flex-start; 
    justify-content: flex-start; 
} .input-mail {
    background-color: transparent;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    width: 100%;
}


.register-contenedor-item2-contenedor-item3 {
    align-items: flex-end; 
    justify-content: flex-start;
    font-size: 10px;
}
.register-contenedor-item2-contenedor-item4 {
    align-items: flex-start; 
    justify-content: flex-start; 
    height: 70px;
    
}  .input-password {
    background-color: transparent;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    width: 100%;
}

.crear-cuenta-button {
    margin: 0% 5% 5% 5%;
    width: 90%;
    color: rgb(255, 255, 255);
}

.label-link {
    font-size: 12px;
    text-align: center;
    color: #fff;
}


:root {
    --color-bg1: rgb(81, 41, 41); 
    --color-bg2: rgb(140, 75, 75); 
    --color1: 192, 53, 64; 
    --color2: 255, 163, 170; 
    --color3: 255, 163, 170;
    --color4: 192, 53, 64; 
    --color5: 255, 163, 170;
    --circle-size: 250%;
    --blending: hard-light;
}

.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
    z-index: -1;
}

.svgBlur {
    display: none;
}

.noiseBg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    mix-blend-mode: soft-light;
    opacity: 0.3;
}

.gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
    position: relative;
}

.g1, .g2, .g3, .g4, .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    opacity: 1;
    animation: moveRandom 60s linear infinite; /* Ajustar duración */
}

.g1 {
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    animation-duration: 45s; /* Ajustar duración */
}

.g2 {
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    animation-duration: 50s; /* Ajustar duración */
}

.g3 {
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    animation-duration: 55s; /* Ajustar duración */
}

.g4 {
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    animation-duration: 60s; /* Ajustar duración */
}

.g5 {
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    animation-duration: 65s; /* Ajustar duración */
}

@keyframes moveRandom {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    20% {
        transform: translate(80vw, -80vh) rotate(120deg);
    }
    40% {
        transform: translate(-80vw, 80vh) rotate(240deg);
    }
    60% {
        transform: translate(80vw, 80vh) rotate(360deg);
    }
    80% {
        transform: translate(-80vw, -80vh) rotate(480deg);
    }
    100% {
        transform: translate(80vw, -80vh) rotate(600deg);
    }
}