#btn-movie, #btn-action, #btn-review{
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 100%;
    border: none;
    background:none;
    font-size: xx-large;
    width: auto;
    height: auto;
}

/* #btn-review{
    right:auto;
    left: 0px;
    color: blue;
} */

.select2-container{
    z-index: 9999;
}

#movieDetails, #movieReview{
    width: 100vw;
    border: none;
    text-transform: none;
}

#movieDetails p{
    font-size: small
}

#actionDetails{
    height: 50vh;
}

#movieDetails #poster{
    width: 7rem;
    height: fit-content;
}

.star{
    width: 35px;
    color:rgb(230, 220, 16);
}

.watch-user, .actor{
    width: 48px;
    height: 48px;
    border-radius: 100px;
    background-color: aliceblue;
}

.movie-data > :nth-child(n){
    width: 95px;
    height: 70px;
    background-color: azure;
}

.details > nav > .nav-tabs > .nav-link {
    width: 95px;
}

.details ul{
    padding-left: 1rem;
}

.preview-user .star{
    width: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

#movieReview #posterMini{
    width: 2rem;
    height: fit-content;
}

#movieReview hr{
    width: 100vw;
}

#movieReview textarea{
    min-height: 225px;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2rem;
    justify-content: center;
}

.star-rating input {
    display: none;
}

.star-rating label {
    cursor: pointer;
    color: #ccc;
}

.star-rating input:checked~label,
.star-rating input:hover~label,
.star-rating label:hover~label {
    color: #f5c518;
}

#movieReview #submit-review{
    width: 50px;
    height: 50px;
}
